@page
@model WebbLab3.Pages.Movies.MovieListModel

@{
    ViewData["Title"] = "MovieList";
}

<h1>MovieList</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].NumberOfSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].MovieStartTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieStartTime)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |                
            </td>
        </tr>
}
    </tbody>
</table>
